# dependencies
node_modules
.pnpm-store

# build output
dist
dist-ssr
*.tsbuildinfo

# local env
*.local
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
